<div class="d-flex flex-column mx-5 h-100">
  <div>
    <h1>Adicionar/Remover Skills</h1>
  </div>
  <div class="text-center fs-5">
    Arraste as skills que deseja adicionar ou remover
  </div>
  <hr>
  <div class="row h-100">
    <div class="col-6">
      <h2 class="text-center">Skills</h2>
      <div class="overflow-auto coluna-skills">
        <bs-sortable [(ngModel)]="skills" fieldName="name" itemClass="badge p-2 mb-2 w-100 h fs-2 bg-secondary"
          itemActiveClass="bg-primary" placeholderItem="Arraste Aqui" placeholderClass="text-center text-muted fs-1"
          wrapperClass="sortable-wrapper">
        </bs-sortable>
      </div>
    </div>
    <div class="col-6">
      <h2 class="text-center">Minhas Skills</h2>
      <div class="overflow-auto coluna-skills">
        <bs-sortable [(ngModel)]="user.skills" fieldName="name" itemClass="badge p-2 w-100 mb-2 fs-2 bg-primary"
          itemActiveClass="bg-primary" placeholderItem="Arraste Aqui" placeholderClass="text-center text-muted fs-1"
          wrapperClass="sortable-wrapper">
        </bs-sortable>
      </div>
    </div>
  </div>
  <div class="d-grid my-4">
    <button class="botao btn btn-primary fw-bold" (click)="salvarSkills()">Salvar</button>
  </div>
</div>
<div class="fst-italic"></div>
