<div class="mx-5">
  <section>
    <div>
      <h1>Skills</h1>
      <hr>
    </div>
    <div *ngIf="user.skills.length; else noSkill">
      <div class="row gx-5">
        <div class="col-6" *ngFor="let skill of user.skills">
          <div class="rounded mb-3 p-2 bg-primary d-flex justify-content-between flex-sm-row flex-column">
            <p class="fs-3 mb-0 fw-bold">{{skill.name}}</p>
            <small class="align-self-sm-end">{{skill.descr}}</small>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<ng-template #noSkill>
  <div class="fst-italic">
    <p class="text-muted fs-3">{{user.name}} não possui skills cadastradas</p>
  </div>
</ng-template>
