.flex-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  background: #0a2a57;
}

.border {
  color: red;
}

.container {
  height: 44em;
}
