<div class="container">
  <div class="d-flex align-items-center justify-content-around h-100">
    <a [routerLink]="['skills']" class="flex-items p-3 rounded shadow text-light text-decoration-none">
      <i class="fas fa-hat-wizard fa-5x"></i>
      <p class="fs-1">Lista Skills</p>
    </a>
    <a [routerLink]="['users']" class="flex-items p-3 rounded shadow text-light text-decoration-none">
      <i class="fas fa-users fa-5x"></i>
      <p class="fs-1">Lista Usuários</p>
    </a>
  </div>
</div>
