<div *ngIf="user; else noUser" class="container">
  <div class="d-flex rounded p-3 mt-3 text-light shadow-sm titulo">
    <h1>{{ user.name }}</h1>
  </div>
  <div class="row h-100 my-3 g-0">
    <div class="side-bar col-md-3 rounded text-light shadow">
      <app-user-sidebar></app-user-sidebar>
    </div>
    <div class="content col-md rounded ms-md-4 mt-2 mt-md-0 text-light shadow">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<ng-template #noUser>
  <div class="not__found d-flex flex-column align-items-center">
    <h1 class="text-muted my-5">Usuário não encontrado</h1>
    <img src="assets/not-found.svg" alt="" class="img-fluid w-50">
  </div>
</ng-template>
