<section id="Sobre">
  <div class="titulo text-center pt-5 mt-5">
    <h1 class="fw-bold">O que é?</h1>
  </div>
  <div class="row py-5 px-0 px-lg-5">
    <div class="col-sm-6 d-sm-flex flex-column justify-content-start">
      <p class="fs-4">Se você está em busca de um desenvolvedor para o seu projeto, aqui na DevRepos você
        pode encontrar!</p>
      <p class="fs-4">Possuímos uma vasta variedade de desenvolvedores cadastrados em nossa plataforma. Você podera
        buscar os desenvolvedores através das habilidades que você desejar.</p>
      <p class="fs-4">Caso você seja um desenvolvedor e queira fazer parte da plataforma, basta apenas criar uma
        conta.</p>
    </div>
    <div class="col-sm-6 d-sm-flex p-0 p-lg-5 justify-content-center d-none d-sm-block">
      <img class="img-fluid w-75" src="assets/search.svg" alt="">
    </div>
  </div>
</section>
