<app-template-new-password>
  <h1 class="text-light fw-bold">Nova senha</h1>
  <form [formGroup]="newPasswordForm" (submit)="resetPassword()">
    <div class="input-group mb-3">
      <span class="input-group-text" id="token-input"><i class="fas fa-envelope"></i></span>
      <input formControlName="token" type="text" class="form-control" placeholder="Token" aria-label="token"
        aria-describedby="token-input" [ngClass]="cssValidator(f.token)">
      <div class="invalid-feedback" *ngIf="f.token?.errors?.required && f.token?.touched">Token é obrigatório</div>
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text" id="email-input"><i class="fas fa-envelope"></i></span>
      <input formControlName="email" type="text" class="form-control" placeholder="Email" aria-label="Email"
        aria-describedby="email-input" [ngClass]="cssValidator(f.email)">
      <div class="invalid-feedback" *ngIf="f.email?.errors?.required && f.email?.touched">Email é obrigatório</div>
      <div class="invalid-feedback" *ngIf="f.email?.errors?.email && f.email?.touched">Digite um email válido</div>
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text" id="password-input"><i class="fas fa-lock"></i></span>
      <input formControlName="password" type="password" class="form-control" placeholder="Nova senha"
        aria-label="password" aria-describedby="password-input" [ngClass]="cssValidator(f.password)">
      <div class="invalid-feedback" *ngIf="f.password?.errors?.required && f.password?.touched">Senha é obrigatória
      </div>
      <div class="invalid-feedback" *ngIf="f.password?.errors?.minlength && f.password?.touched">Senha deve ter no
        mínimo 4 caracteres
      </div>
    </div>
    <div class="d-grid">
      <button [disabled]="!newPasswordForm.valid" class="btn btn-primary fw-bold fs-4">Resetar</button>
    </div>
  </form>
</app-template-new-password>
