<div class="card h-100">
  <div class="card-header fs-5">
    {{user.name}}
  </div>
  <div class="card-body d-flex flex-column">
    <h5 class="card-title">Contatos</h5>
    <div *ngIf="user.socialMedias.length; else noSocialMedias" class="mb-3">
      <p *ngFor="let socialMedia of user.socialMedias" class="card-subtitle">{{ socialMedia.info }}</p>
    </div>
    <h5 class="card-title">Skills</h5>
    <div *ngIf="user.skills.length; else noSkills" class="mb-3">
      <span *ngFor="let skill of user.skills" class="badge bg-secondary me-2 fs-6">{{skill.name}}</span>
    </div>
    <div class="d-grid mt-auto">
      <a [routerLink]="['/users', user.userName]" class="btn btn-primary">Ver pefil</a>
    </div>
  </div>
  <ng-template #noSocialMedias>
    <p class="text-muted card-text">
      Nenhum contato cadastrado
    </p>
  </ng-template>
  <ng-template #noSkills>
    <p class="text-muted card-text">
      Nenhuma Skill cadastrada
    </p>
  </ng-template>
</div>
