<div class="container d-flex flex-column align-items-center justify-content-center">
  <a [routerLink]="['../']" class="btn btn-return align-self-start text-light"><i
      class="fas fa-arrow-left me-2"></i>Voltar</a>
  <div class=" d-flex justify-content-center w-100 text-light rounded titulo mt-3">
    <h1>Skills</h1>
  </div>
  <div class="w-100">
    <table *ngIf="skills.length" class="table table-striped w-100">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let skill of skills">
          <th scope="row">{{skill.id}}</th>
          <td>{{skill.name}}</td>
          <td>{{skill.descr}}</td>
          <td class="d-flex justify-content-center">
            <button class="btn btn-primary me-2"
              (click)="openModal(editSkillModal, skill.id, skill.name, skill.descr)"><i
                class="fas fa-edit"></i></button>
            <button class="btn btn-danger" (click)="openModal(deleteSkillModal, skill.id)"><i
                class="fas fa-trash"></i></button>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <th></th>
        <td></td>
        <td></td>
      </tfoot>
    </table>
    <div class="d-flex justify-content-center">
      <button class="btn btn-danger bg-success border-success w-75" (click)="openModal(createSkillForm)"><i
          class="fas fa-plus"></i></button>
    </div>
  </div>
</div>

<ng-template #createSkillForm>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Adicionar Skill</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Fechar" (click)="modalRef?.hide()">
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="skillForm">
      <div class="mb-3">
        <label for="nameInput" class="form-label">Nome</label>
        <input formControlName="name" type="text" class="form-control" id="nameInput"
          [ngClass]="cssValidator(skillForm.controls.name)">
        <div class="invalid-feedback"
          *ngIf="skillForm.controls.name?.errors?.required && skillForm.controls.name?.touched">Nome é
          obrigatório</div>
      </div>
      <div class="mb-3">
        <label class="form-label">Descrição</label>
        <select formControlName="descr" class="form-select" [ngClass]="cssValidator(skillForm.controls.descr)">
          <option value="Back-end">Back-end</option>
          <option value="Front-end">Front-end</option>
          <option value="Outro">Outro</option>
        </select>
        <div class="invalid-feedback"
          *ngIf="skillForm.controls.descr?.errors?.required && skillForm.controls.descr?.touched">Descrição é
          obrigatório</div>
      </div>
      <div class="d-grid">
        <button class="btn btn-primary" [disabled]="!skillForm.valid" (click)="addSkill()">Adicionar</button>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #deleteSkillModal>
  <div class="modal-body text-center">
    <p>Você deseja mesmo deletar a skill?</p>
    <button type="button" class="btn btn-success me-3 w-25" (click)="yes()">Sim</button>
    <button type="button" class="btn btn-danger w-25" (click)="no()">Não</button>
  </div>
</ng-template>

<ng-template #editSkillModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Editar Skill</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Fechar" (click)="modalRef?.hide()">
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="editSkillForm">
      <div class="mb-3">
        <label for="nameInput" class="form-label">Nome</label>
        <input formControlName="name" type="text" class="form-control" id="nameInput"
          [ngClass]="cssValidator(editSkillForm.controls.name)">
        <div class="invalid-feedback"
          *ngIf="editSkillForm.controls.name?.errors?.required && editSkillForm.controls.name?.touched">Nome é
          obrigatório</div>
      </div>
      <div class="mb-3">
        <label class="form-label">Descrição</label>
        <select formControlName="descr" class="form-select" [ngClass]="cssValidator(editSkillForm.controls.descr)">
          <option value="Back-end">Back-end</option>
          <option value="Front-end">Front-end</option>
          <option value="Outro">Outro</option>
        </select>
        <div class="invalid-feedback"
          *ngIf="editSkillForm.controls.descr?.errors?.required && editSkillForm.controls.descr?.touched">Descrição é
          obrigatório</div>
      </div>
      <div class="d-grid">
        <button class="btn btn-primary" [disabled]="!editSkillForm.valid" (click)="editSkill()">Salvar</button>
      </div>
    </form>
  </div>
</ng-template>
